.block {
  padding: 0.5em;
  border: 1px solid #888;
  overflow: hidden;
  background: white;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  .button {
    margin: 0.2em;
    padding: 0.2em;
    border: 1px solid black;
    cursor: pointer;
  }

  select.select {
    margin: 0.2em;
    padding: 0.2em;
  }

  input.checkbox {
    margin-left: 12px;
  }

  &.hide {
    display: none;
  }
}