.grid {
  position: relative;
  width: 100%;

  @for $x from 1 through 6 {
    .grid-placed.grid-item[data-grid-x="#{$x}"], .grid-placeholder[data-grid-x="#{$x}"] {
      left: $x * 100% / 6;
    }

    .grid-item[data-grid-width="#{$x}"], .grid-placeholder[data-grid-width="#{$x}"] {
      width: $x * 99.9% / 6;
    }
  }

  .grid-item {
    float: left;

    &.grid-placed {
      float: none;
      position: absolute;
    }
  }

  .grid-placeholder {
    position: absolute;
    border: 1px dashed black;
    box-sizing: border-box;
  }
}